<div {% if content.id %}id="{{content.id}}" {%endif%}class="{{content.element}}">
    <div class="element-page-break element-page-break-right"></div>
    <div class="element-page-pad-right">
        <div class="element-header {% if content.number %}with-number{% else %}without-number{% endif %}">
            {% if content.number %}
            <span class="prefix">Chapter</span>
            <span class="text">{{content.number}}</span>
            {% endif %}
        </div>

        <h1 class="element-title {% if content.number %}with-number{% else %}without-number{% endif %}">{{content.title}}</h1>

        {% if edition.plates && content.plate %}
        <div class="plate">
            <img class="plate-image" src="{{content.plate}}" />
        </div>
        {% endif %}

        {{html}}
    </div>
</div>
