<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="{{edition.language}}" lang="{{edition.language}}">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>{{content.title}}</title>
    <link rel="stylesheet" href="stylesheet.css" />
</head>

<body class="{{content.element}}">
    {{html}}
</body>

</html>
